* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to bottom, #007bff, #66b2ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #0479f5;
  margin-bottom: 10px;
}

#progress {
  color: #7b7a7a;
  font-size: 14px;
}

#question {
  margin: 20px 0;
  font-size: 18px;
  color: #333;
}

.option {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background 0.3s;
}

.option:hover {
  background-color: #cdcdcd;
}

#next-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#next-btn:hover {
  background-color: #0056b3;
}
